<p class="text-center">Lorem ipsum.</p>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="feature-section__item clearfix">
            <div class="feature-section__logo"><img
                    src="https://dummyimage.com/800x500/29ccdb/ffffff.png" alt="" class="img-responsive"></div>
            <div class="feature-section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus consequatur, consequuntur, debitis ducimus et eveniet minima molestias
                nesciunt quia ullam velit voluptas. Alias, aperiam aspernatur aut cum debitis deserunt
                dicta dolore eius eligendi et, laudantium molestias neque nostrum officiis pariatur
                perspiciatis quam quis quo ratione sint temporibus totam vitae voluptatum!
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="feature-section__item clearfix">
            <div class="feature-section__logo"><img
                    src="https://dummyimage.com/800x500/29ccdb/ffffff.png" alt="" class="img-responsive"></div>
            <div class="feature-section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus consequatur, consequuntur, debitis ducimus et eveniet minima molestias
                nesciunt quia ullam velit voluptas. Alias, aperiam aspernatur aut cum debitis deserunt
                dicta dolore eius eligendi et, laudantium molestias neque nostrum officiis pariatur
                perspiciatis quam quis quo ratione sint temporibus totam vitae voluptatum!
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="feature-section__item clearfix">
            <div class="feature-section__logo"><img
                    src="https://dummyimage.com/800x500/29ccdb/ffffff.png" alt="" class="img-responsive"></div>
            <div class="feature-section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus consequatur, consequuntur, debitis ducimus et eveniet minima molestias
                nesciunt quia ullam velit voluptas. Alias, aperiam aspernatur aut cum debitis deserunt
                dicta dolore eius eligendi et, laudantium molestias neque nostrum officiis pariatur
                perspiciatis quam quis quo ratione sint temporibus totam vitae voluptatum!
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="feature-section__item clearfix">
            <div class="feature-section__logo"><img
                    src="https://dummyimage.com/800x500/29ccdb/ffffff.png" alt="" class="img-responsive"></div>
            <div class="feature-section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus consequatur, consequuntur, debitis ducimus et eveniet minima molestias
                nesciunt quia ullam velit voluptas. Alias, aperiam aspernatur aut cum debitis deserunt
                dicta dolore eius eligendi et, laudantium molestias neque nostrum officiis pariatur
                perspiciatis quam quis quo ratione sint temporibus totam vitae voluptatum!
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="feature-section__item clearfix">
            <div class="feature-section__logo"><img
                    src="https://dummyimage.com/800x500/29ccdb/ffffff.png" alt="" class="img-responsive"></div>
            <div class="feature-section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus consequatur, consequuntur, debitis ducimus et eveniet minima molestias
                nesciunt quia ullam velit voluptas. Alias, aperiam aspernatur aut cum debitis deserunt
                dicta dolore eius eligendi et, laudantium molestias neque nostrum officiis pariatur
                perspiciatis quam quis quo ratione sint temporibus totam vitae voluptatum!
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="feature-section__item clearfix">
            <div class="feature-section__logo"><img
                    src="https://dummyimage.com/800x500/29ccdb/ffffff.png" alt="" class="img-responsive"></div>
            <div class="feature-section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus consequatur, consequuntur, debitis ducimus et eveniet minima molestias
                nesciunt quia ullam velit voluptas. Alias, aperiam aspernatur aut cum debitis deserunt
                dicta dolore eius eligendi et, laudantium molestias neque nostrum officiis pariatur
                perspiciatis quam quis quo ratione sint temporibus totam vitae voluptatum!
            </div>
        </div>
    </div>
</div>