<footer>
    <div class="container-fluid container-fluid--white container-fluid--pd-both">
        <div class="row">
            <nav class="text-center" role="navigation">
                <ul class="list-unstyled list-inline text-uppercase">
                    <li><a href="/#">home</a></li>
                    <li><a href="features.html">features</a></li>
                    <li><a href="/seamensway.html">seamensway.com</a></li>
                    <li><a href="/pricing.html">pricing</a></li>
                    <li><a href="#">sign up</a></li>
                    <li><a href="#">log in</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <p class="small text-center">Copyright ©2016. All rights reserved. </p>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>