<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pangaea</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">

</head>
<body>

    <header class="container">
		<div class="row">
			<nav class="navbar navbar-default navbar--unstyled navbar-ex1-collapse" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand navbar-logo" href="#"><img src="" alt="logo"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase navbar-menu">
						<li><a href="/#">home</a></li>
						<li><a href="features.html">features</a></li>
						<li><a href="/seamensway.html">seamensway.com</a></li>
						<li><a href="/pricing.html">pricing</a></li>
						<li>
							<div class="menu-login__button">
								<button class="btn btn--green">sign up</button>
							</div>
						</li>
						<li>
							<div class="menu-login__button">
								<button class="btn">log in</button>
							</div>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>
		</div>
	</header>