@font-face {
  font-family: ff-din-web;
  src: url(https://fonts.typekit.net/af/c0f52c/0000000000000000000170de/27/l?primer=7ceb210e49ade74e23101e10f006f110a0b6588c7c57777a6e3d98a38b749696&fvd=n7) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ff-din-web;
  src: url(https://fonts.typekit.net/af/877471/0000000000000000000170da/27/l?primer=7ceb210e49ade74e23101e10f006f110a0b6588c7c57777a6e3d98a38b749696&fvd=n4) format("woff2");
  font-weight: 400;
  font-style: normal;
}